.board-row {
    display: flex;
}

.board-cell {
    width: 0.5em;
    height: 0.5em;
    border: 1px solid silver;
}

.fg-1 {color: #e41a1c}
.fg-2 {color: #377eb8}
.fg-3 {color: #4daf4a}
.fg-4 {color: #984ea3}

.bg-1 {background-color: #e41a1c}
.bg-2 {background-color: #377eb8}
.bg-3 {background-color: #4daf4a}
.bg-4 {background-color: #984ea3}
